.body{
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e5e5;
    text-decoration: none;
}

a{
    text-decoration: none;
    z-index: 0;
}

.top{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    left: 0;
    top: 0;
    background-color: honeydew;
}

.topo{
    width: 935px;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: green;
    z-index: 1;
}

.mini-logo{
    width: 19,25px;
    color: black;
}

.separador{
    width: 1px;
    height: 22px;
    margin: 0 10px;
    background-color: #dbdbdb;
}

.logo{
    margin-right: 214px;
}

.icones{
    margin-left: 150px;
}

.icones ion-icon{
    margin-left: 20px;
}

ion-icon{
    font-size: 22px;
    color: black;
    z-index: 0;
}

textarea{
    width: 215px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}

.container{
    width: 100%;
    margin-top: 54px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
}

.sub-container{
    width: 614px;
    flex-direction: column;
    align-items: center;
}

.stories{
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    background-color: yellowgreen;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    overflow-x: hidden;
}

.storie{
    width: 66px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

.background-storie{
    width: 66px;
    height: 66px;
    background-image: url(../imagens/stories_background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storie a img{
    width: 55px;
    border-radius: 50%;
    padding-top: 3px;
}

.storie p{
    white-space: nowrap;
    overflow-x: hidden;
    text-align: center;
}

.conteudo{
    width: 614px;
}

.post{
    width: 100%;
    background-color: red;
    height: 749px;
    margin-bottom: 60px;
    z-index: 0;
}

.toppost{
    width: 100%;
    height: 60px;
}

.conteudotoppost{
    width: cont(100% - 34px);
    margin: 0 17px 0 17px;
    padding: 15px 0 13px 0;
    display: flex;
    flex-direction: row;
}

.conteudotoppost .texttop{
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.conteudotoppost img{
    width: 32px;
    height: 32px;
}

.imgpost{
    width: 614px;
    height: 614px;
    background-color: gray;
}

.iconespost{
    width: cont(100% - 30px);
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
}

.iconespost div a{
    margin-right: 8px;
}

.likepost{
    width: cont(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
}

.likepost img{
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-right: 5px;
}

.sidebar{
    width: 300px;
    height: 42px;
    margin-top: 57px;
    margin-left: 24px;
    border: 1px solid black;
}

.sidebar-fix{
    display: none;
    width: 300px;
    height: 42px;
    top: 111px;
    left: 900px;
    background-color: green;
    position: fixed;
}