.body{
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e5e5;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #262626;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.top{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    left: 0;
    top: 0;
    background-color: honeydew;
    z-index: 1;
}

.topo{
    width: 935px;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: red;
}

.mini-logo{
    width: 19,25px;
    color: black;
}

.separador{
    width: 1px;
    height: 22px;
    margin: 0 10px;
    background-color: #dbdbdb;
}

.logo{
    margin-right: 214px;
}

.topo input{
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}

.icones{
    margin-left: 180px;
}

.icones ion-icon{
    margin-left: 20px;
}

ion-icon{
    font-size: 22px;
    color: black;
    z-index: 0;
}

.container{
    width: 100%;
    margin-top: 54px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
}

.sub-container{
    width: 614px;
    flex-direction: column;
    align-items: center;
}

.stories{
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    background-color: yellowgreen;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.stories .botao-stories ion-icon{
    width: 26px;
    height: 26px;
    position: absolute;
    right: 8px;
    top: 46px;
    color: #fff;
}

.storie{
    width: 66px;
    margin-left: 14px;
    margin-right: 14px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

.background-storie{
    width: 66px;
    height: 66px;
    background-image: url(../imagens/stories_background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storie a img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    padding-top: 3px;
}

.storie p{
    font-size: 12px;
    line-height: 14px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    text-align: center;
}

.conteudo{
    width: 614px;
}

.post{
    width: 100%;
    background-color: #fff;
    height: 749px;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    z-index: 0;
}

.toppost{
    width: 100%;
    height: 60px;
}

.conteudotoppost{
    width: cont(100% - 34px);
    margin: 0 17px 0 17px;
    padding: 15px 0 13px 0;
    display: flex;
    flex-direction: row;
}

.conteudotoppost .texttop{
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.conteudotoppost img{
    width: 32px;
    height: 32px;
}

.imgpost{
    width: 614px;
    height: 614px;
    background-color: gray;
}

.imgpost img{
    width: 613px;
    height: 613px;
}

.iconespost{
    width: cont(100% - 30px);
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
}

.iconespost div a{
    margin-right: 8px;
}

.likepost{
    width: cont(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
}

.likepost img{
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-right: 5px;
}

.sidebar{
    width: 300px;
    height: 100%;
    margin-top: 57px;
    margin-left: 25px;
    border: 1px solid black;
}

.perfil{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.perfil img{
    width: 56px;
    height: 56px;
    margin-right: 17px;
    border-radius: 50%;
}

.perfil p{
    font-size: 14px;
}

.perfil p:last-child{
    font-weight: 300;
}

.sugestao{
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.sugestao p:first-child{
    color: #8e8e8e;
}

.sugestao p:last-child{
    font-weight: bold;
}

.seguidor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.seguidor div:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.seguidor div img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 11px;
}

.seguidor div div p:first-child{
    font-size: 14px;
    margin-bottom: 6px;
}

.seguidor div div p:last-child{
    font-size: 12px;
    color: #8e8e8e;

}

.seguidor div p1{
    color: #139ef2;
}

.sobre{
    width: 100%;
    flex-wrap: wrap;
    font-size: 11px;
    color: #c7c7c7;
    margin-top: 33px;
    margin-bottom: 18px;
}

.ig{
    font-size: 11px;
    color: #c7c7c7;
    line-height: 13px;
}